In [16]:
import os
import pandas as pd
siftpath=os.path.expanduser("~\Documents\GitHub\Spring2018-Project3-Group4\data\\train\SIFT_train.csv")
rgbpath=os.path.expanduser("~\Documents\GitHub\Spring2018-Project3-Group4\data\\rgbftr.txt")

In [19]:
rgb_feature=pd.read_csv(rgbpath)

In [41]:
cols=rgb_feature.columns.tolist()
cols=cols[-1:]+cols[:-1]
rgb_feature=rgb_feature[cols]

In [42]:
rgb_feature.head()

,label,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,...,X1431,X1432,X1433,X1434,X1435,X1436,X1437,X1438,X1439,X1440
0,1,1,0.000014,0.000938,0.002409,0.000350,0.000000,0.000000,0.000000,0.000000,...,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.004762,0.351891
1,1,2,0.002623,0.005427,0.002163,0.000360,0.000044,0.000000,0.000000,0.000000,...,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.009039,0.093690
2,1,3,0.001878,0.003044,0.000256,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000
3,1,4,0.078483,0.001231,0.000167,0.000012,0.000000,0.000000,0.000000,0.000000,...,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000283,0.000104
4,1,5,0.116950,0.051410,0.039697,0.029717,0.013412,0.002864,0.000217,0.000015,...,0,0.0,0.0,0.0,0.0,0.0,0.000004,0.0,0.000206,0.000018

In [17]:
sift_feature=pd.read_csv(siftpath,header=None)
sift_feature.head()

,0,1,2,3,4,5,6,7,8,9,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,img_1,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.007874,0.000000,0.0,0.000000,0.0,0.000000
1,img_2,0.014085,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.004695,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
2,img_3,0.000000,0.003247,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.003247,0.000000,0.0,0.000000,0.0,0.000000
3,img_4,0.000000,0.000000,0.0,0.0,0.002037,0.0,0.000000,0.002037,0.000000,...,0.0,0.0,0.0,0.004073,0.000000,0.002037,0.0,0.000000,0.0,0.002037
4,img_5,0.005535,0.001845,0.0,0.0,0.000000,0.0,0.001845,0.000000,0.000000,...,0.0,0.0,0.0,0.001845,0.000000,0.001845,0.0,0.001845,0.0,0.000000

In [21]:
label_path=os.path.expanduser("~\Documents\GitHub\Spring2018-Project3-Group4\data\\train\label_train.csv")
label=pd.read_csv(label_path)
label.head()

   Unnamed: 0       img  label
0           0  img_0001      1
1           1  img_0002      1
2           2  img_0003      1
3           3  img_0004      1
4           4  img_0005      1

In [22]:
sift_feature.insert(loc=0, column='label', value=label.label)

In [23]:
sift_feature.head()

,label,0,1,2,3,4,5,6,7,8,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,1,img_1,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.007874,0.000000,0.0,0.000000,0.0,0.000000
1,1,img_2,0.014085,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
2,1,img_3,0.000000,0.003247,0.0,0.0,0.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.0,0.000000,0.003247,0.000000,0.0,0.000000,0.0,0.000000
3,1,img_4,0.000000,0.000000,0.0,0.0,0.002037,0.0,0.000000,0.002037,...,0.0,0.0,0.0,0.004073,0.000000,0.002037,0.0,0.000000,0.0,0.002037
4,1,img_5,0.005535,0.001845,0.0,0.0,0.000000,0.0,0.001845,0.000000,...,0.0,0.0,0.0,0.001845,0.000000,0.001845,0.0,0.001845,0.0,0.000000

# Model selection

In [35]:
#cross-validation 
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC

In [46]:
def GetCvScore(model,data,k=5):
    seqindx=np.repeat(range(k),data.shape[0]/k) # generate a sequence
    np.random.shuffle(seqindx) # shuffle the sequence
    cvscore=[]
    for i in range(k):
        X=data.iloc[seqindx!=i,2:]
        y=data.iloc[seqindx!=i,0]
        clf = model
        clf.fit(X, y)
        thisscore=clf.score(data.iloc[seqindx==i,2:],data.iloc[seqindx==i,0])
        print("the score for the fold {} is {}".format(i,thisscore))
        cvscore.append(thisscore)
    print("total score for the fold is {}".format(sum(cvscore)/k))

# logistic regression

In [47]:
GetCvScore(LogisticRegression(),data=sift_feature) #logisticregression

the score for the fold 0 is 0.5816666666666667
the score for the fold 1 is 0.51
the score for the fold 2 is 0.5633333333333334
the score for the fold 3 is 0.625
the score for the fold 4 is 0.6333333333333333
total score for the fold is 0.5826666666666667

In [48]:
GetCvScore(LogisticRegression(),data=rgb_feature) #logisticregression

the score for the fold 0 is 0.6283333333333333
the score for the fold 1 is 0.6516666666666666
the score for the fold 2 is 0.6383333333333333
the score for the fold 3 is 0.6333333333333333
the score for the fold 4 is 0.6516666666666666
total score for the fold is 0.6406666666666666

# QDA & LDA

In [52]:
GetCvScore(QuadraticDiscriminantAnalysis(),data=sift_feature)# QDA

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:695: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

the score for the fold 0 is 0.34
the score for the fold 1 is 0.3516666666666667
the score for the fold 2 is 0.31166666666666665
the score for the fold 3 is 0.3383333333333333
the score for the fold 4 is 0.32166666666666666
total score for the fold is 0.3326666666666667

In [53]:
GetCvScore(QuadraticDiscriminantAnalysis(),data=rgb_feature) # QDA

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:695: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

the score for the fold 0 is 0.525
the score for the fold 1 is 0.5833333333333334
the score for the fold 2 is 0.5416666666666666
the score for the fold 3 is 0.5483333333333333
the score for the fold 4 is 0.5666666666666667
total score for the fold is 0.5529999999999999

In [56]:
GetCvScore(LinearDiscriminantAnalysis(),data=rgb_feature)

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

the score for the fold 0 is 0.57
the score for the fold 1 is 0.565
the score for the fold 2 is 0.625
the score for the fold 3 is 0.6033333333333334
the score for the fold 4 is 0.53
total score for the fold is 0.5786666666666667

In [57]:
GetCvScore(LinearDiscriminantAnalysis(),data=sift_feature)

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:387: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

the score for the fold 0 is 0.48

C:\Wesley_Tao\6.Software\Anaconda\lib\site-packages\sklearn\discriminant_analysis.py:455: UserWarning: The priors do not sum to 1. Renormalizing
  UserWarning)

the score for the fold 1 is 0.49
the score for the fold 2 is 0.51
the score for the fold 3 is 0.5216666666666666
the score for the fold 4 is 0.45166666666666666
total score for the fold is 0.49066666666666664

# adaboost

In [55]:
GetCvScore(AdaBoostClassifier(),data=sift_feature) # adaboost

the score for the fold 0 is 0.65
the score for the fold 1 is 0.625
the score for the fold 2 is 0.6016666666666667
the score for the fold 3 is 0.6616666666666666
the score for the fold 4 is 0.635
total score for the fold is 0.6346666666666666

In [54]:
GetCvScore(AdaBoostClassifier(),data=rgb_feature) # adaboost

the score for the fold 0 is 0.83
the score for the fold 1 is 0.8266666666666667
the score for the fold 2 is 0.835
the score for the fold 3 is 0.83
the score for the fold 4 is 0.84
total score for the fold is 0.8323333333333334

# GBM

In [50]:
GetCvScore(GradientBoostingClassifier(),data=rgb_feature)  # gbm

the score for the fold 0 is 0.9
the score for the fold 1 is 0.885
the score for the fold 2 is 0.8816666666666667
the score for the fold 3 is 0.8766666666666667
the score for the fold 4 is 0.8733333333333333
total score for the fold is 0.8833333333333334

### base model

In [51]:
GetCvScore(GradientBoostingClassifier(),data=sift_feature)  # gbm

the score for the fold 0 is 0.695
the score for the fold 1 is 0.72
the score for the fold 2 is 0.7233333333333334
the score for the fold 3 is 0.7183333333333334
the score for the fold 4 is 0.69
total score for the fold is 0.7093333333333334

# SVM

In [58]:
GetCvScore(SVC(kernel='rbf', class_weight='balanced'),data=sift_feature) # svc with radio base kernel

the score for the fold 0 is 0.31166666666666665
the score for the fold 1 is 0.35
the score for the fold 2 is 0.335
the score for the fold 3 is 0.32166666666666666
the score for the fold 4 is 0.335
total score for the fold is 0.33066666666666666

In [59]:
GetCvScore(SVC(kernel='rbf', class_weight='balanced'),data=rgb_feature) # svc with radio base kernel

the score for the fold 0 is 0.35
the score for the fold 1 is 0.3233333333333333
the score for the fold 2 is 0.31333333333333335
the score for the fold 3 is 0.335
the score for the fold 4 is 0.3383333333333333
total score for the fold is 0.332

In [60]:
GetCvScore(SVC(class_weight='balanced'),data=sift_feature) # svc linear

the score for the fold 0 is 0.355
the score for the fold 1 is 0.32666666666666666
the score for the fold 2 is 0.29833333333333334
the score for the fold 3 is 0.29833333333333334
the score for the fold 4 is 0.31333333333333335
total score for the fold is 0.31833333333333336

In [61]:
GetCvScore(SVC(class_weight='balanced'),data=rgb_feature) # svc linear

the score for the fold 0 is 0.3516666666666667
the score for the fold 1 is 0.355
the score for the fold 2 is 0.355
the score for the fold 3 is 0.33
the score for the fold 4 is 0.3466666666666667
total score for the fold is 0.3476666666666667